.tweet_window {
    margin-top: 4em;
    background-color: white;
    color: #8f8f8f;
    width: 40em;
    height: auto;
    min-height: 1em;
    overflow:auto;
    margin-bottom: 10px;
    border: none;
}